/* Style général */
.liste-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .title {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }

  .prestataires-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }

  .prestataires-table th,
  .prestataires-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }

  .prestataires-table th {
    background-color: black;
    color: white;
    text-transform: uppercase;
  }

  .prestataires-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .image-prestataire {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  /* Boutons */
  .btn {
    padding: 8px 15px;
    margin-right: 5px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .edit-btn {
    background-color: #007bff; /* Bleu */
  }

  .edit-btn:hover {
    background-color: #0056b3;
  }

  .delete-btn {
    background-color: #dc3545; /* Rouge */
  }

  .delete-btn:hover {
    background-color: #a71d2f;
  }
