.menu-icon {
  width: 40px; /* Ajustez la largeur */
  height: 30px; /* Ajustez la hauteur */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Centrer les barres horizontalement */
  cursor: pointer;
  padding: 5px;
  border: 2px solid black; /* Ajoute un cadre autour */
  border-radius: 8px; /* Angles arrondis pour un design élégant */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un style moderne */
  transition: transform 0.3s ease;
}

.menu-icon:hover {
  transform: scale(1.1); /* Agrandit légèrement au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bar {
  width: 100%; /* La largeur prend tout l'espace disponible */
  height: 4px; /* Hauteur de chaque barre */
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-icon:hover .bar {
  background-color: #555; /* Change légèrement la couleur au survol */
}
